<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">

       <link href="../static/css/main.css" rel="stylesheet" type="text/css" /> 

        <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
        <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}"> -->
        {% block head %}
            <title>{% block title %}{{context.title}}{% endblock %}</title>
        {% endblock %}
    </head>

    <body>
        <div id="container" style="height: 500px; min-width: 500px"></div>

        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script type="text/javascript" src="https://www.highcharts.com/samples/data/usdeur.js"></script>



        <script>

            var fraud = {{context.fraud_list|tojson}}

  

            Highcharts.stockChart('container', {
               

                rangeSelector: {
                        
                    inputDateFormat: "%Y-%m-%d, %H:%M",
                    inputEditDateFormat: "%Y-%m-%d, %H:%M",
                    // Custom parser to parse the %H:%M:%S.%L format
  
                },
            
                title: {
                    text: 'C1 Credit Card No Approved Cases Citibanamex'
                },
            
                xAxis: {
                    type: "datetime",
                    tickPixelInterval: 120,
                    labels: {
                        "rotation": -45,
                        formatter: function() {
                            return Highcharts.dateFormat("%Y-%m-%d, %H:%M:%S", this.value);
                          }
                      }
                },
                
            
                series: [{
   
                        
                    data: fraud,
                    tooltip: {
                        valueDecimals: 2
                    }, name: "C1 Card no approved cases"
                }]
            });
            
            
        </script>

    </body>
</html>